---
import { EMAIL, GITHUB_USERNAME, PGP_KEY_URL } from "../consts";
import Layout from "../layouts/Page.astro";
---

<Layout
  title="Contact"
  description="Contact"
  pubDate={new Date("August 08 2021")}
>
  <ul class="underline grid gap-4">
    <li>
      <a href={`mailto:${EMAIL}`}>Email: {EMAIL}</a>
      <a href={`${PGP_KEY_URL}`}>(PGP key)</a>
    </li>

    <li>
      <a href={`mailto:${EMAIL}`}>Github: {GITHUB_USERNAME}</a>
    </li>
  </ul>
</Layout>
