---
import {
  EMAIL,
  GITHUB_USERNAME,
  PGP_KEY_FINGERPRINT,
  PGP_KEY_URL,
} from "../consts";
import Layout from "../layouts/Page.astro";
---

<Layout
  title="Contact"
  description="Contact"
  pubDate={new Date("August 08 2021")}
>
  <ul class="grid gap-4">
    <li>
      <span>Email: </span>
      <a class="underline" href={`mailto:${EMAIL}`}>{EMAIL}</a>
    </li>

    <li>
      <a class="underline" href={`${PGP_KEY_URL}`}>My PGP key</a>
      <span>(fingerprint: <code>{PGP_KEY_FINGERPRINT}</code>)</span>
    </li>

    <li>
      <span>Github: </span>
      <a class="underline" href={`mailto:${EMAIL}`}>{GITHUB_USERNAME}</a>
    </li>
  </ul>
</Layout>
